<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Notebook!</title>
    </head>

    <body>
        <h1>Notebook!</h1>
        <ul>
            <li th:each="item : ${list}">
                <span th:text="${item}">add note!</span>
            </li>
        </ul>
        
        <form th:action="@{/}" method="POST">
            <input type="text" name="content"/>
            <input type="submit"/>
        </form>
    </body>
</html>
